@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #09090b;
    color: white;
  }
}
